@{
    ViewBag.Title = "MainMenu";
}

<div>
    <h2>MainMenu</h2>
</div>
<div>
    <ul>
        <li><h4>@Html.ActionLink("Boats", "Navigations", "Boat")</h4></li>
        <li><h4>@Html.ActionLink("Clubs", "Navigations", "Clubs")</h4></li>
        <li><h4>@Html.ActionLink("Users", "Navigations", "Users")</h4></li>
    </ul>
</div>